/* Reservas.html */

.contenedorTituloReserva {
  justify-content: center;

  .contenedorH3 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    color: #111;
    font-family: "Anton", sans-serif;
    font-style: oblique;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.campObligatorio {
  color: #98ff98;
}
