
$icon-size: 3em;


*, *:after, *:before {
  box-sizing: border-box;
}

$brands: (
  twitter: #00acee \f099,
  facebook: #3b5998 \f09a,
  instagram: #cc2366 \f16d,
  youtube: #b00 \f167,
);


.fa {
  height: 2em;
  font-size: $icon-size;
  overflow: hidden;
  margin: 0.5em;
  position: relative;
  text-decoration: none;
  width: 2em;     

  
  &:before, &:after {
    left: 0;    
    position: absolute;  
    text-align: center;
    transition: 0.5s;
    top: 50%; 
    width: 100%;
  }
  
  &:before {
    color: #1c1c1c;
    transform: translate3D(0, -50%, 0);
    z-index: 2;
  }
  
  &:after {
    padding-bottom: 25%;
    padding-top: 300%;
    top: 0;
  }
  
  &:hover {
    &:after {
     transform: translate3D(0, -73%, 0);
    }
    &:before {
      transform: translate3D(0, -250%, 0);
    }    
  }
}


@each $brand, $properties in $brands {
  $color: nth($properties, 1);
  $icon: nth($properties, 2);
  
  .fa-#{$brand} {
    
    &:after {
      background-image: linear-gradient($color 25%, url("../image/background.jpg")75%);
      content: '#{$icon}';
      color: $color;
    }  

  }
  
}

.redesSociales {
  padding-top: 2rem ;
}
