@import "../base/mixins";
@import "../base/variables";

/* Encabezados generales */

h1{
    @include styleH(center, 15px);
    color: $letterColor;
    font-size: $fontSizeBase * 3;
}

h2{
    @include styleH(center, 15px);
    color: $letterColor;
    font-size: $fontSizeBase * 2;
}